// 主页样式
// 内容区
.content {
  margin-top: 20px;
  @media (max-width: @screen-xs-max) {
    &.mobile {
      .content-right.content-filter {
        display: block;
      }
    }
    // 主页的右侧栏位处理
    .content-right.content-filter {
      display: none;
      position: fixed;
      top: 60px;
      bottom: 0;
      right: 0;
      width: 88%;
      background-color: @body-bg;
      overflow-y: scroll;
      z-index: 20;
    }
  }
}

// 列表区
.content-left {
  background-color: @white-base;
  // 侧边栏背景，通过此div实现
  .bg {
    position: absolute;
    background-color: @body-bg-light;
    width: 133.333334%;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    .border-shadow();
    box-sizing: content-box;
  }
}

// 筛选项
.content-right {
  background-color: @body-bg-light;
  .bg {
    position: absolute;
    background-color: @white-base;
    width: 400%;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    box-sizing: content-box;
  }
}

// 幕布
.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0,0,0,0.67);
}

.go-top {
  position: fixed;
  width: 100%;
  bottom: 10px;
  .entity {
    float: right;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url("../image/go-top.png") no-repeat center;
    background-size: contain;
    &:hover {
      background: url("../image/go-top-hov.png") no-repeat center;
      background-size: contain;
    }
  }
}
