<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky" style="height: calc(100vh - 48px)">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">
                    仪表盘
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    写文章
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    所有文章
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    分类目录
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    标签
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    评论
                </a>
            </li>
        </ul>
    </div>
</nav>